@model Demo.BL.Models.DepartmentVM
@{
    ViewData["Title"] = "Delete";
}

<div class="block-header">
    <a>Delete </a>
</div>
<form asp-controller="Departments" asp-action="Delete">
    <div class="msg">Add New Department</div>
    <div asp-validation-summary="All" class="text-danger"></div>

    <label asp-for="Name">Department Id</label>
    <input type="text" class="form-control" asp-for="Id" disabled />
    <br />

    <label asp-for="Name">Department Name</label>
    <input type="text" class="form-control" asp-for="Name" disabled />
    <br />


    <label asp-for="Code">Department Code</label>
    <input type="text" class="form-control" asp-for="Code" disabled />

    <br />
    <br />

    <center>
        <a asp-controller="Departments" asp-action="Index" class="btn btn-primary">Back To Data</a>
        <a asp-controller="Departments" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger">Edit</a>
        <input type="submit" value="Delete" class="btn btn-success" />
        <input type="reset" value="Cancle" class="btn btn-warning" />
    </center>
    </form>
